<% if @team.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@team.errors.count, "error") %> 
        prohibited this team from being saved:</h2>
    <p>There were problems with the following fields:</p>
    <ul>
    <% @team.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
